{% load url from future %}
{% load spicy_admin %}
{% if user|check_perms:app %}
<li class="dark-nav{% if app.name in request.path %} active{% endif %}">
  <span class="glow"></span>
  <a class="accordion-toggle collapsed" data-toggle="collapse" href="#menu_{{ app.name }}">
    <i class="icon-edit icon-2x"></i>
    <span>{{ app.label }}
      <i class="icon-caret-down"></i>
    </span>
  </a>

  <ul id="menu_{{ app.name }}" class="collapse{% if app.name in request.path %} in{% endif %}">
    {% for link in app.menu_items %}
    {% if request.user|check_perms:link %}
    <li>
      <a href="{{ link.url }}">
        {% if link.icon_class %}<i class="{{ link.icon_class }}"></i> {% endif %}{{ link.label }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</li>
{% endif %}
