{% formfield "" content_form "title" "li-short" %}
{% formfield "" content_form "url" "li-short" %}
{% formfield "" content_form "template" "li-short" %}
{% formfield "" content_form "get_docs_only_with" "li-short" %}

{{ group_fset.management_form }}
<ul>
  <li>
    <div>
      <a href="" title="">{% trans "Group type" %}</a>
    </div>
    <div>
      <a href="" title="">{% trans "Tags" %}</a>
    </div>
    <div>
      <a href="" title="">{% trans "Hyperlink pub. point" %}</a>
    </div>
    <div>
      <a href="" title="">{% trans "List length limit for additional docs list" %}</a>
    </div>
    <div>
      <a href="" title="">{% trans "List length limit" %}</a>
    </div>
    <div>
      <a href="" title="">{% trans "Intersection" %}</a>
    </div>
    <div>
      <a href="" title="">{% trans "Preview" %}</a>
    </div>
  </li>
  {% for form in group_fset.forms %}
  {% if form.errors %}
  <li>
    <div>{{ form.errors }}</div>
    {% comment %}
    {% if form.xtag_fset.forms.errors %}<div>{{ form.xtag_fset.forms.errors }}</div>{% endif %}
    {% endcomment %}
  </li>
  {% endif %}

  <li>
    <div>
      {{ form.id }}{% if form.instance.exclude %}{% trans "Excluded tags" %}{% else %}{% trans "Included tags" %}{% endif %}
    </div>
    <div>
      {% comment %}
      {% if form.xtag_fset.errors %}<li>{% for ftag in form.xtag_fset.forms %}{{ ftag.errors }}{% endfor %}</li>{% endif %}
      {% endcomment %}

      <div>
        {{ form.xtag_fset.management_form }}
        {% for ftag in form.xtag_fset.forms %}
        {{ ftag.id }}{{ ftag.tag }}
        {{ ftag.position }}
        {{ ftag.text }}
        {{ ftag.service }}
        {{ ftag.DELETE }}
        {% endfor %}
      </div>
      <div></div>
      <div></div>
      <script  type="text/javascript">
        init_autocompleter('{% url service:admin:xtag-autocomplete 'doc_list_group' 0 %}', '{{ form.instance.id }}');
      </script>
    </div>
    {% if not form.instance.exclude %}
    <div>
      {{ form.pub_point}}
    </div>
    <div>
      {{ form.limit }}
    </div>
    <div>
      {{ form.limit_additional_docs }}
    </div>
    <div>
      {{ form.intersection }}
    </div>
    <div>
      {{ form.show_preview }}
    </div>
    {% else %}
    {# It's a hack, but not too ugly. Some fields are required, but useless for excluded groups #}
    <div>
      <input type="hidden" name="{{ form.prefix }}-limit" value="0"/>
    </div>
    <div>
      <input type="hidden" name="{{ form.prefix }}-limit_additional_docs" value="0"/>
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

