{% extends current_admin_base %}{% load navigator pagination i18n %}{% load url from future %}

{% block title %}{% trans "All documents" %}{% endblock %}
{% block status_title %}<i class="icon-file-alt"></i> {% trans "All documents" %}{% endblock status_title %}

{% block content %}

{% if objects_list.count > 0 %}

<div class="container-fluid padded">
  <div class="row-fluid">
    <div class="span12">
      
      <div class="box">

	{% comment %}
	{% endcomment %}

        <div class="box-content">
        <div class="padded">
            <div class="span3">
              <form class="form form-inline">
                {{ form.search_text }}
                <button type="submit" class="btn btn-blue">{% trans 'Search' %}</button>
              </form>
            </div>
            <div class="hpadded">
              <div class="pagination pagination-small" style="margin-top: 0">
                {% pagination %}
              </div>
            </div>
          </div>

          <div class="table table-normal">            
{%comment%}
{% endcomment %}
	    <form class="form form-inline" name="list_form" method="post">{% csrf_token %}
            {% include "spicy.document/admin/parts/documents_list.html" %}
	    </form>
	    <div class="table-footer">
	      <div class="hpadded" style="margin-top: 5px;">
		<div class="pagination pagination-small" style="margin-top: 0">
		  {% pagination %}
		</div>
	      </div>
	    </div>
	    
	  </div>
	</div>
	
	{% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
